FantasySmith/Library/Artifacts/45/456b440296fcb71927c77683a82cfd60 filter=lfs diff=lfs merge=lfs -text
FantasySmith/Library/Artifacts/39/3928ce8415f9ef70d6bdef06c8e3c475 filter=lfs diff=lfs merge=lfs -text
FantasySmith/Library/Artifacts/30/30211afc85d0a4734c85d097a0be95c7 filter=lfs diff=lfs merge=lfs -text
FantasySmith/Library/Artifacts/22/22b2b130d0d5d21b5d340c0c31af5576 filter=lfs diff=lfs merge=lfs -text
FantasySmith/Library/Artifacts/0d/0d69d7b178c6d6ccaeb378df566d7523 filter=lfs diff=lfs merge=lfs -text
FantasySmith/Library/Artifacts/05/0512dd17c23078b6d08ca491c5d65d1d filter=lfs diff=lfs merge=lfs -text
FantasySmith/Library/Artifacts/ArtifactDB filter=lfs diff=lfs merge=lfs -text
"FantasySmith/Assets/Standard Assets/Vehicles/Car/Models/SkyCar.fbx" filter=lfs diff=lfs merge=lfs -text
"FantasySmith/Assets/Standard Assets/Vehicles/Aircraft/Textures/AircraftFuselageNormals.png" filter=lfs diff=lfs merge=lfs -text
"FantasySmith/Assets/Standard Assets/Vehicles/Aircraft/Textures/AircraftWingsPropellerNormals.png" filter=lfs diff=lfs merge=lfs -text

